<li class="list-group-item p-3">

  <div class="container d-flex flex-row m-3" style="border:none; background:white; height:210px;">
    <img src="../../../../assets/cane_che_corre.jpg" style="height:200px; margin-left:-15px;"/>
    <div class="container d-flex flex-column">
      <p>{{eventoPersonalizzato.data | date:'dd-MM-yyyy HH:mm:ss': 'en'}}</p>
      <p>{{eventoPersonalizzato.animale ? eventoPersonalizzato.animale.nome : "Nessun animale"}}</p>
      <p>{{eventoPersonalizzato.testo}}</p>
      <div class="btn-danger btn-sm col-2 d-flex flex-row justify-content-center align-content-end" (click)="handleEliminaEventoPersonalizzato()">
        Elimina
      </div>
    </div>
  </div>
</li>
