<!--form di filtraggio -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmitFilterForm()">
  <div class="row" style="margin: 10px;">
    <div class="col-auto flex-shrink-1" style="padding: 5px;">
        <select class="flex-shrink-1" name="nomeAnimaleSelect" formControlName="idAnimale">
          <optgroup label="I tuoi fedeli animali">
            <option value=0 selected="">Tutti i tuoi animali</option>
            <option *ngFor="let animale of animali | async" [ngValue]="animale.id">
              {{animale.nome}}
            </option>
          </optgroup>
        </select>
      </div>
    <div class="col-auto flex-shrink-1" style="padding: 5px;">
      <select name="tipoEventoSelect" formControlName="tipoEvento">
        <optgroup label="Tipo di Evento">
          <option value="" selected="">Tutti gli eventi</option>
          <option value="visita">Visita</option>
          <option value="ordine">Ordine</option>
        </optgroup>
      </select>
    </div>
    <div *ngIf="filterForm.get('tipoEvento')!.value=='visita'" class="col-auto" style="padding: 5px;">
      <select name="tipoVisitaSelect" formControlName="tipoVisita">
        <optgroup label="Tipo di Visita">
          <option value="" selected="">Tutte le visite</option>
          <option value="vaccino">Vaccino</option>
          <option value="operazione">Operazione</option>
          <option value="controllo">Controllo</option>
        </optgroup>
      </select>
    </div>
    <div class="col" style="padding: 5px;">
        <button class="btn btn-primary" type="submit">Cerca</button>
      </div>
  </div>
</form>

<!-- visualizzazione eventi-->
<div class="row">
  <div class="col">
    <!--form aggiunta evento personalizzato-->
    <app-box-aggiunta-evento-pers></app-box-aggiunta-evento-pers>
    <app-card-evento *ngFor="let evento of eventi | async">
    </app-card-evento>
  </div>
</div>
