<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button style="width: 100%;" class="btn btn-primary" (click)="open(mymodal)">Aggiungi</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dettagli animale</h4>
    <button type="button" class="close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="nome" class="form-control" id="nome">
      </div>
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="data">Data</label>
        <input type="date" class="form-control" id="data" name="date" placeholder="MM/DD/YYY">
      </div>

      <div style="margin-top:10px" class="form-inline" *ngFor="let patologia of patologie; let i=index; trackBy: customTrackBy">
        <label>Patologia {{i+1}}: </label>
        <input placeholder="Scrivere la patologia o nessuna" style="margin-left:5px" type='text' name='sameName{{i}}' [(ngModel)]='patologie[i]'>
        <button style="margin-left:10px" (click)="addPatologia()" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i></button>
        <button style="margin-left:5px" (click)="removePatologia(i)" class="btn btn-danger"><i class="fa fa-fw fa-remove"></i></button>
      </div>
      <div class="form-group">
        <label for="razza">Razza</label>
        <input type="nome" class="form-control" id="razza">
      </div>
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="nome" class="form-control" id="peso" placeholder="kg" >
      </div>
      <div style="margin-top:10px" class="form-group form-check">
        <input value="false" type="checkbox" class="form-check-input" id="peloLungo">
        <label class="form-check-label" for="peloLungo">Pelo lungo</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addAnimal()">Aggiungi</button>
  </div>
</ng-template>
