<div class="container-fluid">

  <div class="custom-card">

    <button class="btn btn-block google-sign-in" (click)="loginWithGoogle()" style="width: 100%">
      <img [src]="'assets/images/google.svg'" alt="google"/>
      <span>Accedi con Google</span>
    </button>

    <div style="padding-top: 20px">
      <button class="btn btn-block google-sign-in" (click)="loginWithFacebook()" style="width: 100%">
        <img [src]="'assets/images/facebook.svg'" alt="facebook"/>
        <span>Accedi con Facebook</span>
      </button>
    </div>

  </div>

</div>
