<div class="modal" id="modalOrdine" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Ordina</div>
        <button type="button" class="close btn btn-close" (click)="closeModal()" data-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li *ngFor="let fase of fasiOrdine.slice(0,faseCorrente+1); let i = index" class="breadcrumb-item">
              <a *ngIf="faseCorrente !== i && faseCorrente !== 3" (click)="faseCorrente !== i && selezionaFase(i)" href="javascript:void(0)">{{fase}}</a>
              {{faseCorrente === i || faseCorrente === 3 ? fase : ""}}
            </li>
          </ol>
          <hr>
        </nav>

        <!-- fase di scelta animale -->
        <div *ngIf="faseCorrente === 0" class="p-3 px-lg-5">
          <h4 class="mb-4">Scegli per quale animale stai acquistando</h4>
          <small>Potrai poi visualizzare gli acquisti effettuati per il tuo animale nella "Storia".</small>
          <div *ngIf="animali === undefined || animali.length == 0" class="text-center p-5 mt-4" style="border-radius: 10px; border: 3px solid #ffc107;">
            <strong style="font-size: x-large" class="text-warning p-5">Sembra che tu non abbia ancora inserito un animale!</strong>
            <p class="mt-4">Prima di proseguire con l'ordine, vai sulla dashboard e inserisci un animale. Poi potrai tornare qui e selezionare il tuo animale per l'acquisto.</p>
          </div>
          <div *ngIf="animali !== undefined && animali.length > 0" class="mt-0 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col" *ngFor="let animale of animali" (click)="selezionaAnimale(animale)">
              <div class="card card-hover">
                <img height="150px" class="mx-lg-5 m-3 image-hover" src="assets/images/cat_dogs.svg" alt="Immagine animale '{{animale.nome}}'">
                <div class="card-body">
                  <h5 class="card-title">{{animale.nome}}</h5>
                  <small>{{animale.razza}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- fase di scelta indirizzo -->
        <div *ngIf="faseCorrente === 1" class="p-3 px-lg-5">
          <h4 class="mb-4">Seleziona un indirizzo per la consegna</h4>
          <small *ngIf="!showEliminaButton">Seleziona uno dei tuoi indirizzi oppure inseriscine uno nuovo. Puoi eliminare un indirizzo cliccando su "Elimina indirizzo".</small>
          <small *ngIf="showEliminaButton">Elimina un indirizzo cliccando sull'icona del cestino. Se hai cambiato idea fai click su "Elimina indirizzo".</small>

          <!-- inserisci nuovo indirizzo -->
          <app-indirizzo-collapse [callbackAggiungiIndirizzo]="aggiungiIndirizzo()"></app-indirizzo-collapse>

          <div class="mt-0 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col">
              <div class="card card-hover mb-4" (click)="toggleCollapse()">
                <div class="card-body row">
                  <img height="88px" class="image-hover col" src="assets/images/plus.svg" alt="Nuovo indirizzo">
                  <p class="card-title text-primary text-center col my-auto">Nuovo indirizzo</p>
                </div>
              </div>
              <div class="card card-hover" (click)="toggleShowElimina()">
                <div class="card-body row">
                  <img height="88px" class="image-hover col" src="assets/images/minus.svg" alt="Elimina indirizzo">
                  <p class="card-title text-danger text-center col my-auto">Elimina indirizzo</p>
                </div>
              </div>
            </div>
            <div class="col" *ngFor="let indir of indirizzi" (click)="!showEliminaButton && selezionaIndirizzo(indir)">
              <div style="height: 270px" class="card {{!showEliminaButton ? 'card-hover' : ''}}">
                <button (click)="eliminaIndirizzo(indir)" style="position: absolute; top: 4px; right: 4px" *ngIf="showEliminaButton" type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button>
                <img height="150px" class="mx-lg-5 m-3 {{!showEliminaButton ? 'image-hover' : ''}}" src="assets/images/indirizzo.svg" alt="Immagine indirizzo">
                <div class="card-body">
                  <p class="card-title">{{indir | indirizzo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- fase di pagamento -->
        <div *ngIf="faseCorrente === 2" class="p-3 px-lg-5">
          <h3 class="mb-3">Riepilogo</h3>
          <small>Controlla attentamente i prodotti e i dati prima di proseguire.</small>
          <hr class="mb-4">
          <h4 class="mb-3">Prodotti</h4>
          <p><strong>Stai acquistando per: </strong><span class="mx-2">{{animale.nome}}</span></p>
          <div class="list-group-item" *ngFor="let prodQuant of carrello.prodotti">
            <div class="row">
              <div class="col-2 col-lg-3 text-center">
                <img height="80px" src="{{getUrlImmagineProdotto(prodQuant.prodotto.id)}}" alt="Immagine prodotto '{{prodQuant.prodotto.nome}}'">
              </div>
              <div class="col-4 my-auto">
                <h5>{{prodQuant.prodotto.nome}}</h5>
              </div>
              <div class="col my-auto">
                <small>{{prodQuant.prodotto.categoria}}</small>
                <h6>€ {{prodQuant.prodotto.prezzo}}</h6>
              </div>
              <div class="col m-auto">
                <span class="my-auto my-2 mx-auto">quantità: </span> <strong class="mx-2">{{prodQuant.quantita}}</strong>
              </div>
            </div>
          </div>

          <div class="mt-0 row g-5">
            <div class="col">
              <h4 class="mb-3">Spedizione e consegna</h4>
              <small>Controlla attentamente che l'indirizzo indicato sia corretto.</small>
              <hr class="mb-4">
              <p><strong>Indirizzo di consegna: </strong><span class="mx-2">{{indirizzo | indirizzo}}</span></p>
              <p><strong>Tempo di consegna: </strong><span class="mx-2">5-7 giorni lavorativi</span></p>
            </div>

            <div class="col">
              <h4 class="mb-3">Pagamento</h4>
              <small>Scegli una delle opzioni seguenti per il pagamento.</small>
              <hr class="mb-3">
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </div>
        </div>

        <!-- fase di conferma -->
        <div *ngIf="faseCorrente === 3" class="p-3 px-lg-5">
          <h4 class="mb-3">Ordine confermato!</h4>
          <small>Puoi visualizzare l'ordine nella sezione "I miei ordini"</small>
          <div class="row justify-content-center">
            <img src="assets/gifs/delivery-truck.gif" class="col-5 me-lg-5" alt="Camion di consegna">
            <img src="assets/gifs/dog-run.gif" class="col-3 mt-3 mt-md-4 mt-xl-5" style="max-width: 300px; object-fit: contain;" alt="Cane che corre">
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Chiudi</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
