<div [id]="id" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" class="carousel-indicator" *ngFor="let slide of slides; let i = index" (click)="vaiA(i)" [ngClass]="{'active': i === slideCorrente}"></button>
    </div>
    <div class="carousel-inner">
        <div *ngFor="let slide of slides; let i = index" class="carousel-item{{i === 0 ? ' active' : ''}}">
            <img class="img-fluid" [src]="slide.src" [alt]="slide.titolo" height="700px">
            <div class="carousel-caption">
                <h5>{{slide.titolo}}</h5>
                <p>{{slide.desc}}</p>
            </div>
        </div>
    </div>
  <button (click)="indietro()" class="carousel-control-prev" type="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button (click)="avanti()" class="carousel-control-next" type="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
