<li class="list-group-item p-3" >
  <div>
    {{visita.dataFormattata}}
  </div>
  <div>
    {{visita.animale.nome}} deve effettuare una visita per {{visita.tipoVisita}}. Dovrà recarsi in ospedale per la durata di {{visita.durataInMinuti}} minuti.
  </div>
  <div *ngIf="visita.note">
    Note: {{visita.note}}
  </div>
  <div class="justify-content-end d-flex">
    <button class="btn btn-secondary m-2" (click)="mostraAggiuntaVisitaCalendario(visita)">
      <i class="fa fa-calendar"></i>
    </button>
    <button class="btn btn-primary m-2" (click)="deleteVisita(visita)">
      <i class="fa fa-trash"></i>
      Disdici
    </button>
  </div>
</li>
