<li class="list-group-item">
  <div>
    <div>
      {{visita.dataFormattata}}
    </div>
    <div>
      {{visita.animale.nome}} deve effettuare una visita per {{visita.tipoVisita}}. Dovrà recarsi in ospedale per la durata di {{visita.durataInMinuti}} minuti.
    </div>
    <div *ngIf="visita.note">
      Note: {{visita.note}}
    </div>
    <div>
      <button class="btn btn-primary float-end" (click)="deleteVisita(visita)">
        <i class="fa fa-trash"></i>
        Disdici
      </button>
    </div>
  </div>
</li>
