<form class="row g-3">
  <div class="col-auto d-flex align-items-center">
    <strong>Filtra</strong>
  </div>
  <div class="input-group col" style="max-width: 300px; min-width: 200px">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="py-1 fa fa-search"></i></span>
    </div>
    <input [(ngModel)]="cerca" (change)="filtra()" name="cerca" type="text" class="form-control" placeholder="Cerca prodotto" aria-label="Cerca prodotto">
  </div>

  <div class="input-group col" style="max-width: 250px; min-width: 250px">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="py-1 fa fa-tag"></i></span>
    </div>
    <select name="select" class="frm-select px-2" id="motivoSelect" (change)="filtra()" [(ngModel)]="categoriaSelect" aria-label="Categoria">
      <option [selected]="i === 0" *ngFor="let categ of categorie; let i = index" [ngValue]="categ">{{categ === null ? "Tutti i prodotti" : categ}}</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary" (click)="filtra()">Applica</button>
  </div>
</form>

<hr>

<div *ngIf="!prodottiAll || prodottiAll.length === 0" class="d-flex justify-content-center align-items-center" style="height: 30vh">
  <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- lista prodotti  -->
<div *ngIf="LIST_MODE && prodottiAll">
  <div *ngIf="!prodotti || prodotti.length === 0">
    <h3 class="text-center my-5">La ricerca non ha prodotto risultati ❌</h3>
  </div>
  <div class="list-group" *ngFor="let prodotto of prodotti">
    <div (click)="openModal(prodotto)" class="list-group-item list-group-item-action list-item-hover">
      <div class="row">
        <div class="col-sm-4">
          <img height="150px" class="mx-lg-5 m-3 image-hover" src="{{getUrlImmagineProdotto(prodotto.id)}}" alt="Immagine prodotto '{{prodotto.nome}}'">
        </div>
        <div class="col">
          <h5 class="py-3">{{prodotto.nome}}</h5>
          <small>{{prodotto.categoria}}</small>
          <h6 class="p-1">€ {{prodotto.prezzo}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->

<!-- cards prodotti -->
<div *ngIf="!LIST_MODE && prodottiAll">
  <div *ngIf="!prodotti || prodotti.length === 0">
    <h4 class="text-center my-5">La ricerca non ha prodotto risultati ❌</h4>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let prodotto of prodotti" (click)="openModal(prodotto)">
      <div class="card list-item-hover card-hover">
        <img height="150px" class="mx-lg-5 m-3 image-hover" src="{{getUrlImmagineProdotto(prodotto.id)}}" alt="Immagine prodotto '{{prodotto.nome}}'">
        <div class="card-body">
          <h5 class="card-title">{{prodotto.nome}}</h5>
          <small>{{prodotto.categoria}}</small>
          <h6 class="p-1">€ {{prodotto.prezzo}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------->

<!-- finestra di dialogo per il prodotto -->
<app-prodotto-modal></app-prodotto-modal>
