body {
  background-color: #eee
}

.nav-link:hover {
  background-color: #525252 !important
}

.nav-link .fa {
  transition: all 1s
}

.nav-link:hover .fa {
  transform: rotate(360deg)
}

.dropdown-menu.show {
  animation-name: open-dropdown;
  animation-duration: 0.1s;
}

@keyframes open-dropdown {
  0% {
    transform: translateY(-25px);

  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(-35px);
  }
}
