/* You can add global styles to this file, and also import other style files */
body {
  background-color: #E5E5E5;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-login{
  display: block;
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}


.custom-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  padding: 30px;
  width: 400px;
}

.horizontal-line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #D8DDEC;
  line-height: 0.1rem;
  margin: 25px 0 30px 0;}

span {
  background: white;
  padding: 0 10px;
}

.google-sign-in {
  background-color: white;
  border: 1px solid #D8DDEC;
  padding: 10px 30px;
  text-align: center;
  font-weight: bold;
  height: 100%;}

img {
  float: left;
}

span {
  vertical-align: middle;
}

.user-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

button {
  margin: 5px
}
